.Spinner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--p-xl);

	&__spinner {
		height: var(--i-l);
		width: var(--i-l);
		display: flex;
		justify-content: center;
		align-items: center;
		animation-name: spin;
		animation-duration: var(--duration);
		animation-iteration-count: infinite;
		animation-timing-function: linear;

		svg {
			width: 100%;
			height: 100%;
			fill: var(--common);
		}
	}
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
