.SearchBar {
	background-color: var(--secondary);
	color: var(--primary);
	border: none;

	&:focus {
		outline: none;
		background-color: var(--contrast-d);
	}

	&::placeholder {
		opacity: 0.5;
	}
}
