.Header {
	height: var(--h-desktop);
	background-color: var(--primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--g-xl);
	padding: var(--g-xl);
	border-bottom: 2px solid var(--common);
	position: sticky;
	top: 0;
	z-index: 20000;

	&__preferences {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: inherit;
	}

	&__search {
		flex: 1;
	}
}

@media screen and (max-width: 950px) {
	.Header {
		padding: var(--g-l);
		gap: var(--g-m);
	}
}

@media screen and (max-width: 750px) {
	.Header {
		height: var(--h-tablet);
	}
}

@media screen and (max-width: 700px) {
	.Header {
		height: auto;
		flex-wrap: wrap;
		padding: var(--g-m);

		&__search {
			order: 3;
			flex-basis: 100%;
		}
	}
}
