:root {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
	line-height: 1.25;
	display: flex;
	justify-content: center;
	background-color: var(--primary);
}

#__next {
	max-width: 2000px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
