.ThemeSwitcher {
	height: inherit;
	cursor: pointer;
	width: var(--i-m);

	svg {
		height: 100%;
		width: 100%;
		fill: var(--secondary);
	}
}

@media screen and (max-width: 750px) {
	.ThemeSwitcher {
		height: var(--i-s);
	}
}
